name = "i-haru"
pages_build_output_dir = "dist"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "i-haru-db"
database_id = "2b5ae75d-7568-4231-85a1-eebf772e443f"
